mobi-mp3-llm-syncer-226538ba5cd3.json
__pycache__/
/__pycache__
mobi-mp3-llm-syncer-226538ba5cd3.json
/venv/Lib/site-packages
books/wolf_hall/wolf_hall.mp3
books/wolf_hall/wolf_hall.mp3
books/wolf_hall/wolf_hall.mobi
